In [2]:
from sklearn.cluster import DBSCAN
import numpy as np
import pandas as pd

In [3]:
dataSets = pd.read_csv(r'lib\data\学生月上网时间分布-TestData.csv')
dataSets

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,2c929293466b97a6014754607e457d68,U201215025,A417314EEA7B,10.12.49.26,2014-07-20 22:44:18.540000000,2014-07-20 23:10:16.540000000,1558,15,本科生动态IP模版,100元每半年,internet
1,2c929293466b97a60147546099a57d81,U201116197,F0DEF1C78366,222.20.71.38,2014-07-20 12:14:21.380000000,2014-07-20 23:25:22.380000000,40261,1,本科生动态IP模版,20元每月,internet
2,2c929293466b97a60147546099fa7d86,M201373803,88539523E88D,10.12.59.230,2014-07-20 22:56:41.593000000,2014-07-20 23:25:22.593000000,1721,15,研究生动态IP模版,计天,internet
3,2c929293466b97a6014754609a137d88,M201370611,F0DEF167324F,218.197.241.94,2014-07-20 23:19:30.930000000,2014-07-20 23:25:21.930000000,351,1,研究生动态IP模版,20元包月,internet
4,2c929293466b97a601475460ab577d99,U201112081,B888E3813D3C,218.197.229.5,2014-07-20 16:51:56.657000000,2014-07-20 23:24:40.657000000,23564,1,本科生动态IP模版,1元每天,internet
...,...,...,...,...,...,...,...,...,...,...,...
284,2c929293466b97a601475645b36d4b85,M201372774,68DFDD6703AB,10.10.194.32,2014-07-21 07:55:08.247000000,2014-07-21 08:00:14.247000000,306,15,研究生动态IP模版,20元包月,internet
285,2c929293466b97a60147564531de4abf,D201377117,041BBA75CF7A,10.10.24.154,2014-07-21 07:47:43.700000000,2014-07-21 08:14:41.700000000,1618,15,研究生动态IP模版,计天,internet
286,2c929293466b97a6014756454e814ae5,U201013575,68DFDD27E77D,10.12.63.48,2014-07-21 07:45:42.407000000,2014-07-21 08:14:48.407000000,1746,15,本科生动态IP模版,5元每周,internet
287,2c929293466b97a60147564551ba4aea,422123640321732,3CDFBD175878,10.12.85.159,2014-07-21 08:05:49.327000000,2014-07-21 08:14:49.273000000,540,15,本科生动态IP模版,20元每月,internet
288,2c929293466b97a601475645551d4af3,U201014641,002427FE3712,0.0.0.0,2014-07-21 08:14:29.287000000,2014-07-21 08:14:49.287000000,20,1,本科生动态IP模版,100元每半年,internet

In [4]:
time = dataSets.iloc[1:,6:7]
time = time.values

In [5]:
uId = dataSets.iloc[:,1:2]
uId

          Unnamed: 1
0         U201215025
1         U201116197
2         M201373803
3         M201370611
4         U201112081
..               ...
284       M201372774
285       D201377117
286       U201013575
287  422123640321732
288       U201014641

[289 rows x 1 columns]

In [24]:
db = DBSCAN(eps=500,min_samples=1).fit(time)
db.labels_

array([ 0,  1,  1,  2,  1,  1,  1,  1,  3,  1,  1,  1,  1,  1,  4,  5,  1,
        6,  1,  1,  7,  1,  1,  8,  9,  1,  1,  1,  1,  1,  1, 10,  1,  1,
        1,  1,  1,  1,  1, 11,  1,  1,  1,  1,  1,  1, 12,  1,  1,  1, 13,
        1, 14,  1,  1,  1,  1,  1,  1,  1, 15, 12,  6,  1,  1,  1,  1, 12,
        1,  1,  1,  1,  1,  1,  1, 16,  1,  1,  1,  1,  1,  1,  1, 17,  1,
        1,  6, 18,  1, 19, 11,  1, 20,  1,  2,  1,  1,  1, 21, 22,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  5,  1,  1,
        1, 16,  1,  1,  1,  1,  1,  1,  1, 20, 23,  4,  1,  1, 24,  1,  1,
        1,  1,  1, 25,  5,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1, 26,  1,  1,  1,  1, 27, 28,  1,  1,  1,  1,  1, 12,  1,  1,
       29, 30,  1,  1,  1, 19,  1,  1,  1,  4,  1,  1,  1,  1,  6,  1, 19,
        1,  1,  1,  6,  1,  1,  1,  1, 31, 32,  1,  1,  1,  1,  0,  1,  1,
        1, 33,  1,  1,  1,  1,  1,  1, 23, 13,  1,  1,  8,  1,  1,  1,  1,
        1,  1,  1, 34,  1, 33,  1,  1,  1,  1,  1,  1,  1,  1, 33,  1,  1,
        1,  1,  1,  1,  1, 10,  1,  1, 33,  1,  1,  1, 16,  1,  1,  1,  1,
       13,  1,  1,  4, 13,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1],
      dtype=int64)